.product-list-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-product-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.product-header, .product-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  text-align: justify;
}

.product-header {
  font-weight: bold;
  align-self: start;
  text-align: justify;
}

.ProductItemList{
  text-align: center;
  align-content: center;
  display: grid;
}